.map_container{
    display: flex;
    justify-content: center;
}
.map__space{
    border: 1px solid gray;
    border-radius: 20px;
    background-color: black;
    height: 65vh;
    width: 55%;
    /* z-index: 10; */
    margin-top: -90px;
}